<div class="side-menu">
  <a routerLink="/inicio" class="Link-logo">
    <img src="assets/TODO.png" alt="Logo" class="logo" />
  </a>
  <ul>
    <li>
      <a routerLink="/inicio" routerLinkActive="active">
        <i class="fas fa-home"></i>
        Inicio
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        <i class="fas fa-envelope"></i>
        Contacto
      </a>
    </li>
    <li>
      <a routerLink="/prueba" routerLinkActive="active">
        <i class="fas fa-flask"></i>
        Prueba
      </a>
    </li>
    <li>
      <a routerLink="/salir" routerLinkActive="active">
        <i class="fas fa-sign-out-alt"></i>
        Salir
      </a>
    </li>
  </ul>
</div>
