/* You can add global styles to this file, and also import other style files */
/* General */
body {
  background: #0f4b63;
  background-image: url(/src/todolistwallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: 'Arial', sans-serif;
}

/* Footer Pattern for Task Manager Vibes */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
  opacity: 0.1;
  pointer-events: none;
}

/* Títulos */
h2 {
  font-size: 24px;
  color: #ffffff;
  font-family: 'FontAwesome';
  text-align: center;
  margin-top: 20px;
}

/* Contenedor para la tabla */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 1027px;
  height: 847px;
  border-radius: 10px;
  transform: translate(440px, 10px);
  // background-color: #2e6f87;
  background-image: url('../src/assets/todolistwallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #004d5d;
  box-shadow: 3px 4px 3px 4px rgba(0,0,0,0.4);
}


.contenedor-title{
  position: fixed;
  top: 0;
}

.btn-container{
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
}

.containerdos {
  display: flex;
  justify-content: center;  /* Centra la tabla horizontalmente */
  align-items: center;      /* Centra la tabla verticalmente (si quieres) */
  flex-direction: column;
}



/* Estilo actualizado para la tabla */

table {
  width: 95%;
  border-collapse: separate;
  border-spacing: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin: 20px 0;
  transform: translate(10px, -95px); /* Estado base */
  background-color: white;
  box-shadow: 5px 8px 8px rgba(0,0,0,0.6);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

table:hover {
  transform: translate(0px, -107px) scale(1.2) rotate(0.8deg); /* Combinación de todas las transformaciones */
  box-shadow: 5px 8px 0px #000;
}

table th, table td {
  padding: 12px;
  text-align: left;
  cursor: default;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table th {  // Titulo de la tabla
  background-color: #1f7fbe;
  color: white;
  font-weight: bold;
  text-transform: uppercase; /* Letras en mayúscula */
}

table td {
  background-color: #2b0707;
  color: #ffffff;
  border: 0.5px solid black;
}



/* Estilo para las esquinas superiores redondeadas */
table th:first-child {
  border-top-left-radius: 12px;
}

table th:last-child {
  border-top-right-radius: 12px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
/* Filas seleccionadas */


/* Formulario */
.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 1);

  width: 93%;
  border: 2px solid #5b9bd5;
}


/* Fondo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 655px; /* Ajusta según necesites */
  max-height: 80vh;
  overflow-y: auto;
}

body.modal-open {
  overflow: hidden; /* Evita que la página se desplace */
}

.form h2 {
  font-size: 24px;
  color: #ff4c4c;
  text-align: center;
  margin-top: 20px;
}

.form .form-group {
  margin-bottom: 15px;
}

.form .form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form .form-group input,
.form .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form .form-group input:focus,
.form .form-group textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.form .form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form {
    width: 90%;
  }

  table {
    width: 100%;
  }
}

/* Botón de contador */
.btn-contador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4CAF50;
}

/* Estilo para el botón de eliminar */
.btn-danger {
  background-color: rgb(202, 50, 50);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;

}

.btn-danger:hover {
  background-color: #c9302c;
}

.btn-secundary{

  background-color: #2dbddb;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.btn-icon-tic:disabled {
  background-color: transparent; /* Fondo transparente */
  color: rgba(0, 0, 0, 0.5); /* Color de texto más suave para mostrar deshabilitado */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde más tenue */
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

/* Estilo base para los select */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  appearance: none; /* Elimina el estilo predeterminado de los navegadores */
  -webkit-appearance: none; /* Elimina el estilo predeterminado en Safari */
  -moz-appearance: none; /* Elimina el estilo predeterminado en Firefox */
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Estilo para el contorno y fondo cuando el select está en foco */
select:focus {
  border-color: #5b9bd5;
  background-color: #e6f0f7;
  box-shadow: 0 0 8px rgba(91, 155, 213, 0.5);
}

/* Estilo de las opciones dentro del select */
select option {
  padding: 8px;
  background-color: #fff;
  font-size: 16px;
}

/* Cambiar el color de fondo y el texto de la opción seleccionada */

/* Estilo para el label dentro de un formulario (form-group) */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

/* Añadir icono personalizado al select */
.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '\f0d7'; /* Icono de una flecha hacia abajo */
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
}

/* Cambio del color del icono cuando el select está en foco */
select:focus + .select-wrapper::after {
  color: #5b9bd5;
}

/* Estilo base para los labels */
label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  color: #333;
  margin-bottom: 8px;
  display: block;
  text-transform: capitalize; /* Convierte la primera letra de cada palabra a mayúscula */
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo cuando el campo está en foco (cuando el input o select está activo) */
input:focus + label, select:focus + label {
  color: #5b9bd5; /* Cambia el color del label cuando el campo está en foco */
  font-weight: bold; /* Hace el texto más grueso */
}


// /* Colores específicos para cada categoría */
// .trabajo {
//   background-color: #d1ecf1; /* Azul claro para Trabajo */
// }

// .ocio {
//   background-color: #0b8fa7; /* Azul claro para Trabajo */
// }

// .estudio {
//   background-color: #d4edda; /* Verde claro para Estudio */
// }

// .hogar {
//   background-color: #fff3cd; /* Amarillo claro para Hogar */
// }

// .recreacion {
//   background-color: #5705c26b; /* Rojo suave para Recreación */
// }

// /* Opcional: Colores al hacer hover o al seleccionar */
tr.selected {
  background-color: #e90707;
  transform: scale(0.97); /* Hace que la fila parezca presionada */
  transition: transform 0.3s ease, background-color 0.6s ease;
}

td:hover {
  cursor: pointer;
}

tr {
  transition: transform 0.1s ease, background-color 0.3s ease;
}

.trabajo td {
  color: #000000; /* Azul */
  background-color: #d9544f98;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}



.estudio td {
  color: #000000; /* Verde */
  background-color: rgba(44, 180, 146, 0.699);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.hogar td {
  color: #000000; /* Amarillo */
  background-color: rgba(1, 153, 255, 0.589);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.ocio td {
  color: #000000; /* Amarillo */
  background-color: rgba(1, 196, 255, 0.589);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.recreacion td {
  color: #000000; /* Rojo */
  background-color: rgba(0, 47, 255, 0.425);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.icon-tic-container {

  color: white;
  display: flex;
  padding-bottom: 20px;
  gap: 10px;
  justify-content: center;
}

.btn-icon-tic {
  background-color: #4fb364;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.btn-secundary-guardar{
  background-color: #f09745;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;


}

.btn:disabled {
  opacity: 0.5;  /* Añadir opacidad para simular el estado inhabilitado */
  pointer-events: none; /* Asegura que el botón no sea interactivo */
  background-color: #b42323;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.tdColor{
  background-color: blue;
}

p{
  color:white;
}

// paginacion


.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls button {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.pagination-controls span {
  font-size: 16px;
  color: rgb(255 255 255);
  border: 2px solid white;
  background: #e48255;
  padding: 7px;
  border-radius: 6px;
  margin: 0 10px;
}

.btn-volver{
   padding: 10px; background-color: rgb(26, 148, 230);
   color: white; border-radius: 6px;
    font-size: 16px;
    border: none;
    width: 80px;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Agrega una transición suave */
    transform: translate(10px,-10px);


}
.btn-volver:hover{
  background-color: #1092b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #52ee93;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 10px;
}

.comic-button:hover {
  background-color: #fff;
  color: #52ee93;
  border: 2px solid #52ee93;
  box-shadow: 5px 5px 0px #52ee93;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}



.button-verTareas {
  background: #33baf0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  margin-bottom: 10px;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button-verTareas:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button-verTareas:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


.button-completarTarea {
  width: 150px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #5cdb95;
}

.button-completarTarea span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
}

.button-completarTarea:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

.button-completarTarea:hover{
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: rotate(5deg) translateY(0);
  }
  50% {
    transform: rotate(5deg) translateY(-5px);
  }
  100% {
    transform: rotate(5deg) translateY(0);
  }

}

.button-eliminarTarea {
  width: 150px;
  padding: 0;
  border: none;
  transform: rotate(-3deg);
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #dd4545;
}

.button-eliminarTarea span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
}

.button-eliminarTarea:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

.button-eliminarTarea:hover{
  animation: bounce 0.4s ease;
}

.btn-next{
  border-radius: 6px;
  background-color: rgb(228, 130, 85);
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.btn-next:hover{
  background-color: rgb(230, 143, 44);
}


.chart-container {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
